    <!--Seção de Home-->
      <script>
    document.addEventListener('keydown', function (event) {
      // Verifica se a combinação de teclas Ctrl + U é pressionada (Ctrl + U tem o código 85 no evento 'keydown')
      if (event.ctrlKey && event.keyCode === 85) {
        event.preventDefault(); // Impede o comportamento padrão (abrir a visualização do código-fonte)
        alert("A visualização do código-fonte está desativada.");
      }
    });

    const texto = "Bem vindo(a) a Lazuli.";
    const delay = 100; // Delay entre cada caractere (em milissegundos)

    let index = 0;
    function typeWriter() {
      if (index < texto.length) {
        document.getElementById('texto-animado').innerHTML += texto.charAt(index);
        index++;
        setTimeout(typeWriter, delay);
      }
    }

    // Iniciar a animação após o carregamento da página
    window.onload = function () {
      typeWriter();
    };
    </script>

        <% if !user_signed_in? %>
    <section id="home" class="container my-4 p-2" id="home">
      <div class="row">
        <div class="col-12 col-lg-6 pt-5">
          <br>
          <div id="texto-animado" class="text-primary fw-bold" style="font-size: 55px;"></div>
          <span class="cursor"></span>
          <p class="text-dark lead text-md-start">Transformando ideias em realidade digital com a sincronia
            perfeita do desenvolvimento de sites.</p>
          <div class="mt-5 ">
<button class="shadow__btn">  
  <%= link_to 'Criar Conta', cadastro_path, class: 'text-decoration-none text-light' %>
</button>
          <button class="shadow__btn">  
              <%= link_to 'Logar', cadastro_path, class: 'text-decoration-none text-light' %>
</button>
          </div>
        </div>
        <div class="col-12 col-lg-6">
     <%= image_tag "home.svg", alt: "Exemplo de imagem" %>

        </div>

      </div>
    </section>
    </div>
<% else%>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d116555.00053627929!2d-46.75603071986353!3d-24.089403450104115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce2883ba386b79%3A0x211da91fc6c0ccb9!2sMongagu%C3%A1%2C%20State%20of%20S%C3%A3o%20Paulo!5e0!3m2!1sen!2sbr!4v1716983595203!5m2!1sen!2sbr" class="container" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<section class="bg-body-secondary">
   <h2 class="text-center text-primary text-md-start">Painel de Controle</h2>
<div class="container container-fluid text-center bg-primary text-light py-4" id="box-index">
 
  <div class="d-inline-block mx-2 text-center">
    <i class="bi bi-postcard-fill mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Publicações', posts_path, class: 'link text-light d-block text-decoration-none fw-bold' %>
  </div>

  <div class="d-inline-block mx-2 text-center">
    <i class="bi bi-exclamation-triangle-fill mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Avisos da Prefeitura', notices_path, class: 'link text-light d-block text-decoration-none fw-bold' %>
  </div>

  <div class="d-inline-block mx-2 text-center">
    <i class="bi bi-cloud-haze2-fill mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Previsões do Tempo', weather_path, class: 'link text-light d-block text-decoration-none fw-bold' %>
  </div>
</div>
<br>
</section>
<hr>
<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <span class="fa fa-user fa-3x mb-3"></span>
          <h5 class="card-title">Central de Noticias</h5>
          <a target="_blank" href="https://reddevx.github.io/CentralDeNoticias-Mongagu-/Monguagu%C3%A1.html" class="btn btn-primary">Ver Todos</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <span class="fa fa-cogs fa-3x mb-3"></span>
          <h5 class="card-title">ONGs</h5>
          <a href="#" class="btn btn-primary">Editar</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <span class="fa fa-chart-bar fa-3x mb-3"></span>
          <h5 class="card-title">Relatórios</h5>
          <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<% end %>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
   <% if !user_signed_in? %> 
   <h1 class="mb-0 text-primary">Previsão do Tempo para Mongaguá </h1>
   <% end %>


<div class="container mt-5">
  <div class="row mt-4">
    <div class="col-md-6 text-md-start">
      <div class="card">
        <div class="card-body text-center">
          <span class="fa fa-user fa-3x mb-3"></span>
          <h5 class="card-title">Central de Noticias</h5>
          <a target="_blank" href="https://reddevx.github.io/CentralDeNoticias-Mongagu-/Monguagu%C3%A1.html" class="btn btn-primary">Ver Todos</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <span class="fa fa-cogs fa-3x mb-3"></span>
          <h5 class="card-title">Chat Comunidade</h5>
          <a href="https://reddevx.github.io/CentralDeNoticias-Mongagu-/index.html" class="btn btn-primary">Editar</a>
        </div>
      </div>
    </div>
    <div>
</div   >
    <br>  <% if !user_signed_in? %>
<i class="bi bi-bell-fill text-center"></i>
  <div class="card-body">
    <h5 class="card-title">Atenção!</h5>
    <p class="card-text">Ao se cadastrar, você obtem mais 4 dias de previsão do tempo para Mongaguá, além de outros recursos</p>
  </div>
</div> 
<% end %>
    </div>
  </div>
  <div id="weather">
    <!-- Conteúdo da previsão do tempo aqui -->
  </div>
  
</div>



  <% if !user_signed_in? %>

<% end %>

<section class="bg-body-secondary p-2">
  <h2 class="text-md-start container text-primary">Mais Recursos</h2>
<div class="container container-fluid text-center bg-primary text-light py-4" id="box-index">
  
  <div class="d-inline-block mx-2 text-center">
    <i class="bi bi-hospital-fill text-white mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Primeiros Socorros', ajuda_path, class: 'link text-white d-block text-decoration-none' %>
  </div>

  <div class="d-inline-block mx-2 text-center">
  
   <i class="bi bi-radioactive text-white mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Pontos de Risco', '#', class: 'link text-white d-block text-decoration-none' %>
  </div>

  <div class="d-inline-block mx-2 text-center">
    <i class="bi bi-cloud-haze2-fill text-white mb-2" style="font-size: 2rem;"></i>
       <%= link_to 'Dados e Pesquisa', '#', class: 'link text-white d-block text-decoration-none' %>
  </div>
</div>
<br>
</section>
<hr>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const apiKey = 'df23b5edbaa7447f89432943242905';
    const coordinates = '-24.0939,-46.6228';
    const url = `http://api.weatherapi.com/v1/forecast.json?key=${apiKey}&q=${coordinates}&days=4&aqi=no&alerts=yes`;

    fetch(url)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.json();
      })
      .then(data => {
        displayWeather(data);
      })
      .catch(error => {
        console.error('Houve um problema com a operação fetch:', error);
      });

    function displayWeather(data) {
      const weatherContainer = document.getElementById('weather');
      const locationName = data.location.name;
      const current = data.current;
      const forecast = data.forecast.forecastday;

      const currentWeatherHTML = `
  <div class="card mb-4 bg-body-secondary text-primary border border-primary fw-bold">
    <div class="card-body d-flex align-items-center">
        <div>
            <h2 class="card-title">${locationName}</h2>
            <p class="card-text">Temperatura Atual: ${current.temp_c}°C</p>
            <p class="card-text">Condição Atual: ${current.condition.text}</p>
       
       </div>
        <div class="ms-auto">
            <img width="150px" height="150px" src="${current.condition.icon}" alt="${current.condition.text}">
        </div>
    </div>
</div>

      `;

      let forecastHTML = '';
      forecast.forEach(day => {
        forecastHTML += `
          <div class="card mb-3 d-none">
            <div class="card-body">
              <h6 class="card-title">${new Date(day.date).toLocaleDateString()}</h6>
              <p class="card-text">Máxima: ${day.day.maxtemp_c}°C</p>
              <p class="card-text">Mínima: ${day.day.mintemp_c}°C</p>
              <p class="card-text">Condição: ${day.day.condition.text}</p>
              <img src="${day.day.condition.icon}" alt="${day.day.condition.text}">
              <p class="card-text">Chance de Chuva: ${day.day.daily_chance_of_rain}%</p>
              <p class="card-text">Chance de Neve: ${day.day.daily_chance_of_snow}%</p>
            </div>
          </div>
        `;
      });

      weatherContainer.innerHTML = currentWeatherHTML + forecastHTML;
    }
  });
</script>