<%= form_with model: @user, local: true, class: "needs-validation", novalidate: true do |form| %>
<section class="container p-3">
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.email_field :email, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", required: true %>
  </div>


  <div class="mb-3">
  <%= f.label :Foto %>
<%= f.file_field :image, class: 'form-control form-control' %>
<br>
 </div>

    <%= form.submit 'Cadastrar', class: "text-light shadow__btn text-center" %>
<% end %>
</section>
