<%= form_with(model: post, class: "form-container") do |form| %>
  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h4>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Titulo, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Ocorrido, class: "form-label" %>
    <%= form.text_field :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :local, class: "form-label" %>
    <%= form.text_field :local, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Perigo, class: "form-label" %>
    <%= form.text_field :level_danger, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control-file" %>
  </div>
<br>
  <div class="form-group p-1">
    <%= form.submit "Enviar Publicação", class: "shadow__btn" %>
  </div>
<% end %>
